body{
    background-color: cornflowerblue;
    margin: 0px;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 10px;            
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);        
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(140, 140, 219);    
    border-radius: 20px; 
  }

header{
    background-color: rgb(115, 201, 255);
    margin: auto;
    padding: 0;
}

.caixa {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    max-width: 1440px;
    margin: 0 auto;
}

.caixa .logo {
    width: 100px;
}

.caixa .menu {
    display: flex;
    align-items: center;
    height: 100%;
    text-transform: uppercase;
}

.caixa nav li a {
    font-weight: bold;
    color: #000000;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.2s;
}

.caixa nav li a:hover {
    background-color: #4280cd;
    color: rgb(230, 230, 230);
}

.banner{
    width: 80.8vw;
    height: 80.8vh;
    display: flex;
}

.informaçao{
    padding: 0px;
    margin: 70px;
    display: flex;
    background-color: #bfe6ff;
    border-radius: 40px;
    box-shadow: 10px 10px  rgb(0, 0, 0);
}
.informaçao .vtuberT{
    display:inline-block;
    padding: 20px;
}

.informaçao .sobreT{
    display:inline-block;
    padding: 20px;
}

.informaçao img{
    padding-top: 20px;
    padding-bottom: 2px;
    padding-left: 10px;
    max-width: 400px;
    text-align: right;
    display: flex;
}
.titulo{
    align-items: normal;
}

.informaçao h1 {
    font-weight: bold;
    font-size: 50px;
    padding-bottom: 20px;
    
}
.informaçao p{
    padding-bottom: 20px;
    display: flex;
    font-size: 20px;
}


.talentos h1{
    font-size: 30px;
    font-weight: bold;
}

.talentos img{
    margin: 0;
    padding: 0;
    max-width:50%;
    height:auto;
}

.talentos{
    margin: 70px;
    padding: 20px;
}

.toshi{
    background-color: #ea6f7f;
    border-radius: 30px;
    box-shadow: 6px 6px  rgb(0, 0, 0);
    margin-bottom: 20px;
}

.dante{
    background-color: #bf69c5;
    border-radius: 30px;
    box-shadow: 6px 6px  rgb(0, 0, 0);
    margin-bottom: 20px;
}

.eeiris{
    background-color: #9799f1;
    border-radius: 30px;
    box-shadow: 6px 6px  rgb(0, 0, 0);
    margin-bottom: 20px;
}

.ravi{
    background-color: #e8b088;
    border-radius: 30px;
    box-shadow: 6px 6px  rgb(0, 0, 0);
    margin-bottom: 20px;
}

.eve{
    background-color: #f389d3;
    border-radius: 30px;
    box-shadow: 6px 6px  rgb(0, 0, 0);
    margin-bottom: 20px;
}

footer{
    display: flex;
    justify-content: center;
}

form {
    background-color: white;
	margin: 70px;
    padding: 10px;
    border-radius: 20px;
    justify-content: center;
    width: 1000px;
    box-shadow: 10px 10px  rgb(0, 0, 0);
}

form input {
    width: 95%;
}

form label, form legend {
	display:block;
    font-weight: bold;
	font-size: 20px;
	margin: 0 0 10px;
}
form fieldset{
    display: inline;
    margin: 0;
    padding: 0;
}

form fieldset label{
    font-weight: normal;
    width: 500px;
}

.inputPadrao {
	display: block;
	margin: 0 0 20px;
	padding-top: 10px;
    padding-left: 0;
	width: 50%;
}
.comoPrefereContato{
    cursor: pointer;
}

.checkbox {
	margin: 20px 0;
}

.enviar{
    width: 100%;
    padding: 10px 0;
    background-color: rgb(194, 194, 194);
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
}

.enviar:hover{
    background-color: rgb(82, 232, 255);
    transition: 1s all;
    transform: scale(1.03);
}